body {
	background-color: #666;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}


menu>li {
	display: inline-block;
	padding: 0.6em 1em;
	background-color: hsl(300,35%,46%);
	color: white;
	cursor: pointer;

}
menu>li:hover {
	background-color: hsl(300,30%,65%);
}
menu>li.active {
	background-color: hsl(300,35%,35%);
	cursor: default;
}

section {
	background-color: #fff;
	padding: 2em;
	box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
	display: flex;
}

section>aside {
	width: 220px;
	margin-right: 2em;
}

#productList {
	padding: 0;
}
#productList li {
	list-style-type: none;
	cursor: pointer;
	padding: 0.2em 0.5em;
}
#productList li:hover {
	background-color: #f1f1f1;
}
#productList li.selected {
	background-color: #bada55;
}


#product {
	flex: 1;
}

.images {
	display: flex;
	padding: 0;
	flex-wrap: wrap;
}
.images img {
	margin: 0 15px 15px 0;
	border: 4px solid rgb(255, 255, 255);
	box-shadow: 0 1px 11px rgba(0,0,0,0.3);
	border-radius: 7px;
}


.hidden {
	display: none;
}